POSTGRES_DB=radius_platform
POSTGRES_USER=radius_owner
POSTGRES_PASSWORD=replace-owner-password
RADIUS_MIGRATOR_PASSWORD=replace-migrator-password
RADIUS_APP_PASSWORD=replace-app-password
RADIUS_JOBS_PASSWORD=replace-jobs-password
RADIUS_READONLY_PASSWORD=replace-readonly-password
